.error {
    color: red;
  }

  .output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img {
    margin: 10px;
}
  .btn {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: black;
    background-image: none;
    box-shadow: 0 0 10px white;
  }